# Ignore Visual Studio Code settings folder
.vscode/

# Ignore object files
*.obj

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.ilk
*.exe
*.out
*.class
*.o
*.so

# Ignore archive files
*.zip
*.tar.gz
*.rar
*.7z

# Ignore logs
*.log

# Ignore database files
*.db
*.sqlite3

# Ignore PowerBI files
*.pbix

# Ignore cumulative.csv in archive folder
archive/cumulative.csv

# Ignore program database files
*.pdb